/* Home Page */

body {
    background-color: white;
    font-size: 22px;
}

header {
    background-color:lightblue;
    display: grid;
    grid-template-columns: 150px auto;
    width: 100%;
}

#logo {
    margin-right: 10px;
    height: 100px;
    width: 140px;
    padding: 10px;
}

nav {
    justify-content: space-around;
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 35px;
    justify-content: space-around;
    text-align: center;
    color: black;
}

nav a:hover {
    background-color: #333333;
    color: #d9c2a3;
}

#biography {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row:1fr 1fr;
}

#header_photo {
    grid-column: 1/4;
    grid-row: 1;
    width: 100%;
    height: 500px;
    align-items: center;
}

#choco {
    grid-column: 3/1;
    grid-row: 2;
    width: 300px;
    height: 500px;
    margin-top: 30px;
}

#biography p {
    background-color: lightblue;
    color: black;
    padding: 15px;
    border-radius: 15px;
    margin-right: 30px;
    height: 500px;
    font-size: 16px;
    margin-left: 30px;
    grid-row: 2;
    width:

}

footer {
    background-color: lightblue;
    padding: 10px;
    display: flex;
}

footer p {
    padding: 5px;
}

/* Funnel Cake SubPage */

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
}

.card-title {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
}

#cakes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}