

/* Home Page */

body {
    background-color: lightyellow;
    font-size: 22px;
}

header {
    background-color:lightskyblue;
    display: grid;
    grid-template-columns: 150px auto;
    width: 100%;
}

#logo {
    margin-right: 10px;
    height: 100px;
    width: 140px;
    padding: 10px;
}

nav {
    justify-content: space-around;
    display: flex;
    font-family: Roboto Slab, sans-serif;
}

nav a {
    text-decoration: none;
    padding: 35px;
    justify-content: space-around;
    text-align: center;
    color: black;
}

nav a:hover {
    background-color: #333333;
    color: #d9c2a3;
}

#biography {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row:1fr 1fr;
}

#header_photo {
    grid-column: 1/4;
    grid-row: 1;
    width: 100%;
    height: 600px;
    align-items: center;
}

#choco {
    grid-column: 3/1;
    grid-row: 2;
    width: 300px;
    height: 500px;
    margin-top: 30px;
    border: 10px solid lightskyblue;
}

#biography p {
    background-color: lightskyblue;
    color: black;
    padding: 15px;
    border-radius: 15px;
    margin-right: 30px;
    height: 500px;
    font-size: 15px;
    margin-left: 30px;
    grid-row: 2;
    font-family: Roboto Slab, sans-serif;
}

footer {
    background-color: lightskyblue;
    padding: 10px;
    display: flex;
    font-family: Roboto Slab, sans-serif;
}

footer p {
    padding: 5px;
}

/* Funnel Cake SubPage */

h2 {
    text-align: center;
    font-family: Roboto Slab, sans-serif;
    font-size: 3rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    background-color: lightskyblue;
    font-family: Roboto Slab, sans-serif;
}

.card img {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
}

.card-title {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
}

#cakes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

/* Third Page Book Us */

main {
    padding: 0 2%;
    min-height: 20rem;
}

h1 {
    text-align: center;
    font-family: Roboto Slab, sans-serif;
}

/* Form Styling */
.wf1 fieldset {
    margin:2rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: #445ba9;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

.wf1 div {
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;
    
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 select,
.wf1 input[type="number"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]{
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.wf1 input:required,
.wf1 legend:required,
.wf1 select:required
 {
    border-left: solid 8px red;
}