
@media screen and (min-width: 500px) {
    .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px;
    }
}
@media (min-width: 640px) {
	nav {
		display: flex;
	}
	nav a {
		flex: 1 1 100%;
	}
}
@media (min-width: 1050px) {
	header {
		display: flex;
		align-items: center;
	justify-content: space-around;
	}
	nav {
		justify-content: flex-end;
		flex-direction: row;
        position:relative;
	}
	nav a {
        display: block;
		flex: 1 1 100%;
	}
    .hamburger {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .images {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
@media screen and (max-width: 600px) {
    .images {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}






